@media screen and (max-width: 1290px) {
  .container-header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .footer {
    width: auto;
  }
  .footer-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bid-info {
    left: 150px;
    bottom: 93px;
  }
  .popular-artists-bottom {
    flex-wrap: nowrap;
  }
  .hero {
    padding-left: 15px;
    padding-right: 15px;
  }
  .art-of-week-top {
    padding-left: 15px;
    padding-right: 15px;
  }
  .art-of-week-bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 70px;
    margin-right: 70px;
  }
  .nft-image-2 {
    right: 212px;
  }
  .sell-nft {
    padding-left: 15px;
    padding-right: 15px;
  }
  .popular-artists-bottom {
    flex-direction: column;
    align-items: center;
  }
  .popular-artists-bottom .top-art-1,
  .popular-artists-bottom .top-art-2 {
    position: static;
  }
  .contact-nft-2 {
    content: "";
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .container-header {
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-section {
    margin-top: 30px;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .left-side-nav {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .art-of-week-top {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .art-of-week-top h2 {
    padding-bottom: 10px;
  }
  .art-of-week-section {
    margin-bottom: 10px;
  }
  .art-of-week-bottom {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-left: 35px;
    margin-right: 35px;
  }
  .art-cards {
    width: 80%;
  }
  .sell-nft {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .nft-image-1,
  .nft-image-2 {
    position: static;
    margin-top: 12px;
  }
  .popular-artists-bottom {
    flex-direction: column;
    align-items: center;
  }
  .popular-artists-bottom .top-art-1,
  .popular-artists-bottom .top-art-2 {
    position: static;
  }
  .contacts {
    flex-direction: column;
    gap: 24px;
  }
  .contact-form {
    flex-direction: column;
    gap: 10px;
  }
  .contact-form .contact-input,
  .contact-form button {
    width: 100%;
    position: static;
  }
  .contacts-right-side {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-right-side {
    display: flex;
    gap: 20px;
  }
  .footer-left-side p {
    font-size: 14px;
  }
  .footer-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
  }
  .left-side-bottom-text p {
    padding-bottom: 2px;
  }
  .right-side-hero img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .art-of-week-section {
    margin-bottom: 10px;
  }
  .nft-image-1 img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .nft-image-2 img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .sell-nft-text {
    margin-bottom: 40px;
  }
  .popular-artists-top {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .popular-artists-top h2 {
    padding-bottom: 10px;
  }
  .popular-artists-bottom {
    padding-left: 5px;
    padding-right: 5px;
  }
  .popular-artists-bottom img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .contacts-left-side img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .sell-nft-section {
    margin-bottom: 100px;
  }
  .popular-artists-section {
    margin-bottom: 130px;
  }
  .contacts-section {
    margin-bottom: 65px;
  }
  .social-media {
    margin-bottom: 30px;
  }
  .footer-bottom {
    margin-bottom: 50px;
  }
  .contacts-left-side .contact-nft-2 {
    display: none;
  }
  .left-side-hero {
    margin-bottom: 50px;
  }
  .bid-info {
    left: 210px;
    bottom: 86px;
  }
  .loader {
    font-size: 45px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .container-header {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero-section {
    margin-top: 30px;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .left-side-nav {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .art-of-week-top {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .art-of-week-top h2 {
    padding-bottom: 10px;
  }
  .art-of-week-section {
    margin-bottom: 10px;
  }
  .art-of-week-bottom {
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  .art-cards {
    width: 85%;
  }
  .sell-nft {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .nft-image-1,
  .nft-image-2 {
    position: static;
    margin-top: 20px;
  }
  .popular-artists-bottom {
    flex-direction: column;
    align-items: center;
  }
  .popular-artists-bottom .top-art-1,
  .popular-artists-bottom .top-art-2 {
    position: static;
  }
  .contacts {
    flex-direction: column;
    gap: 24px;
  }
  .contact-form {
    flex-direction: column;
    gap: 10px;
  }
  .contact-form .contact-input,
  .contact-form button {
    width: 100%;
    position: static;
  }
  .contacts-right-side {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .footer-right-side {
    display: flex;
    gap: 20px;
  }
  .footer-left-side p {
    font-size: 14px;
  }
  .footer-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
  }
  .left-side-bottom-text p {
    padding-bottom: 2px;
  }
  .right-side-hero img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .art-of-week-section {
    margin-bottom: 10px;
  }
  .nft-image-1 img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .nft-image-2 img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .sell-nft-text {
    margin-bottom: 40px;
  }
  .popular-artists-top {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .popular-artists-top h2 {
    padding-bottom: 10px;
  }
  .popular-artists-bottom {
    padding-left: 5px;
    padding-right: 5px;
  }
  .popular-artists-bottom img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .contacts-left-side img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .sell-nft-section {
    margin-bottom: 100px;
  }
  .popular-artists-section {
    margin-bottom: 130px;
  }
  .contacts-section {
    margin-bottom: 65px;
  }
  .social-media {
    margin-bottom: 30px;
  }
  .footer-bottom {
    margin-bottom: 50px;
  }
  .contacts-left-side .contact-nft-2 {
    display: none;
  }
  .left-side-hero {
    margin-bottom: 50px;
  }
  .loader {
    font-size: 40px;
    text-align: center;
  }
}
@media screen and (max-width: 600px) {
  .main-nav {
    position: absolute;
    top: 70px;
    right: 20px;
    background: #121212;
    padding: 20px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    gap: 20px;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .main-nav ul {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-nav.active {
    display: flex;
  }
  .burger-menu {
    display: flex;
  }
  .burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
  }
  .burger-menu.open span:nth-child(2) {
    opacity: 0;
  }
  .burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }
  .container-header {
    padding-right: 35px;
    padding-left: 35px;
  }
  .hero-section {
    margin-top: 20px;
  }
  header nav ul {
    flex-direction: column;
    gap: 12px;
  }
  .contact {
    width: 110px;
    height: 34px;
  }
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .left-side-hero h1 {
    font-size: 28px;
  }
  .left-side-hero p {
    font-size: 13px;
  }
  .left-side-nav {
    flex-direction: column;
    gap: 8px;
    align-items: center;
  }
  .left-side-nav .btn {
    width: 100%;
  }
  .left-side-bottom {
    flex-direction: column;
    gap: 8px;
    align-items: center;
    margin-bottom: 40px;
  }
  .left-side-bottom-text {
    flex-direction: column;
    gap: 1px;
    align-items: center;
  }
  .right-side-hero .art {
    display: none;
  }
  .bid-info {
    position: static;
    margin-top: 16px;
    width: 100%;
  }
  .art-of-week-bottom {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  .art-cards {
    width: 100%;
  }
  .sell-nft {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
  }
  .sell-nft-text h2 {
    font-size: 24px;
  }
  .nft-image-1,
  .nft-image-2 {
    position: static;
    margin-top: 12px;
  }
  .popular-artists-bottom {
    flex-direction: column;
    align-items: center;
  }
  .popular-artists-bottom .top-art-1,
  .popular-artists-bottom .top-art-2 {
    position: static;
  }
  .contacts {
    flex-direction: column;
    gap: 24px;
  }
  .contact-form {
    flex-direction: column;
    gap: 10px;
  }
  .contact-form .contact-input,
  .contact-form button {
    width: 100%;
    position: static;
  }
  .contacts-right-side {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .contacts-left-side .contact-nft-2 {
    display: none;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    height: auto;
    width: auto;
  }
  .footer-right-side,
  .footer-bottom,
  .footer-bottom-right {
    flex-direction: column;
    gap: 12px;
  }
  .left-side-bottom::before,
  .left-side-bottom::after {
    content: "";
    display: none;
  }
  .left-side-bottom-text p {
    padding-bottom: 2px;
  }
  .right-side-hero img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .art-of-week-top {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .art-of-week-top h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .art-of-week-section {
    margin-bottom: 10px;
  }
  .nft-image-1 img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .nft-image-2 img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .sell-nft-text {
    margin-bottom: 40px;
  }
  .popular-artists-top {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .popular-artists-top h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  .popular-artists-bottom {
    padding-left: 5px;
    padding-right: 5px;
  }
  .popular-artists-bottom img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .contacts-left-side img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .sell-nft-section {
    margin-bottom: 100px;
  }
  .popular-artists-section {
    margin-bottom: 130px;
  }
  .contacts-section {
    margin-bottom: 65px;
  }
  .social-media {
    margin-bottom: 30px;
  }
  .footer-bottom {
    margin-bottom: 50px;
  }
  .art-cards-name p {
    font-size: 20px;
  }
  .loader {
    font-size: 32px;
    text-align: center;
  }
}/*# sourceMappingURL=mobile.css.map */