$maincolor: #d6ef0e;
$white: #ffffff;
$black: #1e1e1e;
$bold: "canela_condensed_trialbold";
$medium: "canela_condensed_trialmedium";
$regular: "canela_cond_regular_trialRg";
$jost: "jostregular";

@font-face {
  font-family: "canela_condensed_trialbold";
  src: url("../fonts/canelacondensed-bold-trial-webfont.eot");
  src: url("../fonts/canelacondensed-bold-trial-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/canelacondensed-bold-trial-webfont.woff2") format("woff2"),
    url("../fonts/canelacondensed-bold-trial-webfont.woff") format("woff"),
    url("../fonts/canelacondensed-bold-trial-webfont.ttf") format("truetype"),
    url("../fonts/canelacondensed-bold-trial-webfont.svg#canela_condensed_trialbold")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "canela_condensed_trialmedium";
  src: url("../fonts/canelacondensed-medium-trial-webfont.eot");
  src: url("../fonts/canelacondensed-medium-trial-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/canelacondensed-medium-trial-webfont.woff2") format("woff2"),
    url("../fonts/canelacondensed-medium-trial-webfont.woff") format("woff"),
    url("../fonts/canelacondensed-medium-trial-webfont.ttf") format("truetype"),
    url("../fonts/canelacondensed-medium-trial-webfont.svg#canela_condensed_trialmedium")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "canela_cond_regular_trialRg";
  src: url("../fonts/canelacondensed-regular-trial-webfont.eot");
  src: url("../fonts/canelacondensed-regular-trial-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/canelacondensed-regular-trial-webfont.woff2") format("woff2"),
    url("../fonts/canelacondensed-regular-trial-webfont.woff") format("woff"),
    url("../fonts/canelacondensed-regular-trial-webfont.ttf") format("truetype"),
    url("../fonts/canelacondensed-regular-trial-webfont.svg#canela_cond_regular_trialRg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jostregular";
  src: url("../fonts/jost-webfont.eot");
  src: url("../fonts/jost-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/jost-webfont.woff2") format("woff2"),
    url("../fonts/jost-webfont.woff") format("woff"),
    url("../fonts/jost-webfont.ttf") format("truetype"),
    url("../fonts/jost-webfont.svg#jostregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
}

body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/*/ HEADER /*/

.container-header {
  padding: 28px 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  nav {
    ul {
      display: inline-flex;
      justify-content: space-between;
      gap: 40px;

      li {
        a {
          font-family: $jost;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: rgba(255, 255, 253, 0.72);
          text-decoration: none;
          position: relative;
          transition: color 0.3s;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 1px;
            background-color: $maincolor;
            transition: width 0.1s;
          }

          &:hover {
            color: $white;

            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.contact {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: $white;
  border-radius: 8px;
  padding: 12px 40px;
  width: 143px;
  height: 48px;
  background: $maincolor;
  text-decoration: none;
  font-family: $jost;
  transition: 0.5s all;
  &:hover {
    color: $black;
    transform: scale(1.02);
  }
}

/*/ SECTION 1 /*/

.hero-section {
  padding: 92px 111px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side-hero {
  h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    color: $white;
    padding-bottom: 20px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $white;
    padding-bottom: 40px;
  }
}

.left-side-nav {
  padding-bottom: 72px;
  display: flex;
  gap: 20px;

  .btn {
    font-family: "jostregular";
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 40px;
    width: 178px;
    height: 52px;
    transition: 0.5s all;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .btn-primary {
    background: $maincolor;
    color: $black;
  }

  .btn-primary:not(.active) {
    background: transparent;
    color: $white;
    transform: scale(1.02);
  }

  .btn-secondary {
    background: transparent;
    color: $white;
    font-family: "jostregular";
  }

  .btn-secondary.active {
    background: $maincolor;
    color: $black;
    transform: scale(1.02);
  }
}

.text-color {
  color: $maincolor;
}

.left-side-bottom {
  display: inline-flex;
  gap: 94px;
  position: relative;
  margin-bottom: 8px;

  &::after {
    content: "";
    position: absolute;
    left: 116px;
    top: 46px;
    width: 76px;
    height: 1px;
    background: $maincolor;
    transform: rotate(90deg);
  }

  &::before {
    content: "";
    position: absolute;
    left: 300px;
    top: 46px;
    width: 76px;
    height: 1px;
    background: $maincolor;
    transform: rotate(90deg);
  }

  p {
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
  }
}

.left-side-bottom-text {
  display: inline-flex;
  gap: 137px;
  p {
    color: $white;
    font-family: $jost;
  }
}

.right-side-hero {
  position: relative;
  img {
    transition: 0.3s all;
    &:hover {
      transform: scale(1.02);
    }
  }
  .art {
    position: absolute;
    z-index: 1;
    left: -60px;
    top: 223px;
  }
}

/*/&::after {
    content: "";
    width: 171.5px;
    height: 171.59px;
    background-image: url(../images/art.svg);
    z-index: 1;
  }/*/

.bid-info {
  border-top: 1px solid $maincolor;
  border-radius: 16px;
  padding: 20px;
  width: 304px;
  height: 169px;
  box-shadow: 0 9px 50px 0 rgba(23, 36, 65, 0.04);
  background: #131e3a;
  gap: 10px;
  position: relative;
  z-index: 1;
  left: 210px;
  bottom: 86px;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.02);
  }
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $maincolor;
    font-family: $jost;
  }
  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $white;
    font-family: $jost;
  }
  button {
    border: 1px solid $maincolor;
    border-radius: 8px;
    padding: 12px 40px;
    width: 100%;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $maincolor;
    background: #131e3a;
  }
  .bid-info-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}
/*/SECTION2/*/

.art-of-week-section {
  padding: 92px 111px;
}

.art-of-week-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 64px;
  h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
  }
}

.art-of-week-bottom {
  display: flex;
  justify-content: space-between;
}

.art-cards {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $maincolor;
  border-radius: 28px;
  padding: 20px;
  background: #131e3a;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.02);
  }
  img {
    margin-bottom: 24px;
  }
}

.art-cards-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  p {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: $white;
    position: relative;
    font-family: $jost;
    &:nth-of-type(2) {
      font-size: 16px;
      gap: 8px;
      &::before {
        content: "";
        position: absolute;
        left: -20px;
        width: 20px;
        height: 20px;
        background-image: url("../images/eth.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.art-cards-bid {
  display: flex;
  justify-content: space-between;
}

.art-cards-bid-left {
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #838382;
    font-family: $jost;
  }
  span {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $white;
    font-family: $jost;
    position: relative;
    margin-left: 30px;
    &::before {
      content: "";
      position: absolute;
      left: -28px;
      width: 20px;
      height: 20px;
      background-image: url("../images/clock.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.art-cards-bid-right {
  button {
    border: 1px solid $maincolor;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $maincolor;
    background: #131e3a;
    font-family: $jost;
  }
}
/*/SECTION3/*/

.sell-nft-text {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
    padding-bottom: 20px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #fffffd;
    padding-bottom: 40px;
  }
}

.sell-nft-section {
  display: flex;
  justify-content: space-between;
  padding: 92px 111px;
  align-items: center;
  position: relative;
}

.nft-image-1 {
  position: absolute;
  right: 118px;
  top: 95px;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.02);
  }
}

.nft-image-2 {
  position: absolute;
  right: 433px;
  top: 229px;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.02);
  }
}
