$maincolor: #d6ef0e;
$mainfont: "jostregular";

@font-face {
  font-family: "jostregular";
  src: url("../fonts/jost-webfont.eot");
  src: url("../fonts/jost-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/jost-webfont.woff2") format("woff2"),
    url("../fonts/jost-webfont.woff") format("woff"),
    url("../fonts/jost-webfont.ttf") format("truetype"),
    url("../fonts/jost-webfont.svg#jostregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "jostbold";
  src: url("../fonts/jost-bold-webfont.eot");
  src: url("../fonts/jost-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/jost-bold-webfont.woff2") format("woff2"),
    url("../fonts/jost-bold-webfont.woff") format("woff"),
    url("../fonts/jost-bold-webfont.ttf") format("truetype"),
    url("../fonts/jost-bold-webfont.svg#jostbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: url("../images/cursor.png") 10 10, auto;
}

a {
  cursor: url("../images/cursor2.png") 10 10, auto;
}

/*/ HEADER /*/

.container-header {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  nav {
    ul {
      display: inline-flex;
      justify-content: space-between;
      gap: 40px;
      list-style: none;
      padding-left: 0;
      margin: 0;
      li {
        a {
          font-family: $mainfont;
          font-weight: 400;
          font-size: 16px;
          line-height: 160%;
          color: rgba(255, 255, 253, 0.72);
          text-decoration: none;
          position: relative;
          transition: color 0.3s;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 1px;
            background-color: $maincolor;
            transition: width 0.1s;
          }

          &:hover {
            color: #ffffff;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  border-radius: 8px;
  width: 143px;
  height: 48px;
  background: $maincolor;
  text-decoration: none;
  font-family: $mainfont;
  transition: all 0.3s ease;
  &:hover {
    color: #1e1e1e;
    transform: scale(1.02);
    font-family: "jostbold";
    font-size: 15px;
    opacity: 0.9;
  }
}

/*/ SECTION 1 /*/

.hero-section {
  margin-top: 92px;
  margin-bottom: 92px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side-hero {
  h1 {
    font-weight: 500;
    font-size: 64px;
    line-height: 120%;
    color: #ffffff;
    padding-bottom: 20px;
    font-family: "jostbold";
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #ffffff;
    padding-bottom: 40px;
    font-family: $mainfont;
  }
}

.left-side-nav {
  padding-bottom: 72px;
  display: flex;
  gap: 20px;

  .btn {
    font-family: $mainfont;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-decoration: none;
    border-radius: 8px;
    padding: 12px 40px;
    width: 178px;
    height: 52px;
    transition: 0.5s all;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .btn-primary {
    background: $maincolor;
    color: #1e1e1e;
  }

  .btn-primary:not(.active) {
    background: transparent;
    color: #ffffff;
    transform: scale(1.02);
  }

  .btn-secondary {
    background: transparent;
    color: #ffffff;
    font-family: $mainfont;
  }

  .btn-secondary.active {
    background: $maincolor;
    color: #1e1e1e;
    transform: scale(1.02);
  }
}

.text-color {
  color: $maincolor;
}

.left-side-bottom {
  display: inline-flex;
  gap: 94px;
  position: relative;
  margin-bottom: 8px;

  &::after {
    content: "";
    position: absolute;
    left: 116px;
    top: 46px;
    width: 76px;
    height: 1px;
    background: $maincolor;
    transform: rotate(90deg);
  }

  &::before {
    content: "";
    position: absolute;
    left: 300px;
    top: 46px;
    width: 76px;
    height: 1px;
    background: $maincolor;
    transform: rotate(90deg);
  }

  p {
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
  }
}

.left-side-bottom-text {
  display: inline-flex;
  gap: 137px;
  p {
    color: #ffffff;
    font-family: $mainfont;
  }
}

.right-side-hero {
  position: relative;
  img {
    transition: 0.3s all;
    &:hover {
      transform: scale(1.02);
    }
  }
  .art {
    position: absolute;
    z-index: 1;
    left: -60px;
    top: 223px;
  }
}

.bid-info {
  border-top: 1px solid $maincolor;
  border-radius: 16px;
  padding: 20px;
  width: 304px;
  height: 169px;
  box-shadow: 0 9px 50px 0 rgba(23, 36, 65, 0.04);
  background: #131e3a;
  gap: 10px;
  position: relative;
  z-index: 1;
  left: 210px;
  bottom: 86px;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.02);
  }
  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $maincolor;
    font-family: $mainfont;
  }
  .time {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    font-family: $mainfont;
  }
  p {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    font-family: $mainfont;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $maincolor;
    border-radius: 8px;
    padding: 12px 40px;
    width: 100%;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $maincolor;
    background: #131e3a;
    text-decoration: none;
    font-family: $mainfont;
  }
  .bid-info-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }
}
/*/SECTION2/*/

.art-of-week-section {
  margin-bottom: 184px;
}

.art-of-week-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 64px;
  h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
    font-family: "jostbold";
  }
}

.art-of-week-bottom {
  display: flex;
  justify-content: space-between;
}

.art-cards {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $maincolor;
  border-radius: 28px;
  padding: 20px;
  background: #131e3a;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.02);
  }
  img {
    margin-bottom: 24px;
  }
}

.art-cards-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  p {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #ffffff;
    position: relative;
    font-family: $mainfont;
    &:nth-of-type(2) {
      font-size: 16px;
      gap: 8px;
      &::before {
        content: "";
        position: absolute;
        left: -20px;
        width: 20px;
        height: 20px;
        background-image: url("../images/eth.svg");
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

.art-cards-bid {
  display: flex;
  justify-content: space-between;
}

.art-cards-bid-left {
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #838382;
    font-family: $mainfont;
  }
  .time2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #ffffff;
    font-family: $mainfont;
    position: relative;
    margin-left: 30px;
    &::before {
      content: "";
      position: absolute;
      left: -28px;
      width: 20px;
      height: 20px;
      background-image: url("../images/clock.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}
.art-cards-bid-right {
  a {
    display: flex;
    border: 1px solid $maincolor;
    border-radius: 8px;
    padding: 12px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: $maincolor;
    background: #131e3a;
    font-family: $mainfont;
    text-decoration: none;
  }
}
/*/SECTION3/*/

.sell-nft-section {
  margin-bottom: 184px;
}

.sell-nft-text {
  display: flex;
  flex-direction: column;
  margin-top: 114px;
  margin-bottom: 94px;
  h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
    padding-bottom: 20px;
    font-family: "jostbold";
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #fffffd;
    padding-bottom: 40px;
    font-family: $mainfont;
  }
}
.sell-nft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nft-image-1 {
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.02);
  }
}

.nft-image-2 {
  position: absolute;
  right: 323px;
  top: 161px;
  transition: 0.3s all;
  &:hover {
    transform: scale(1.02);
  }
}

/*/SECTION4/*/

.popular-artists-section {
  margin-bottom: 184px;
}

.popular-artists-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  padding-left: 31px;
  padding-right: 31px;
  h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
    font-family: "jostbold";
  }
}

.popular-artists-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
  a {
    transition: 0.3s all;
    &:hover {
      transform: scale(1.02);
    }
  }
  .top-art-1 {
    position: absolute;
    top: 345px;
  }
  .top-art-2 {
    position: absolute;
    top: 345px;
    left: 439px;
  }
}

/*/SECTION5/*/

.contacts-section {
  margin-bottom: 184px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .contacts-left-side {
    position: relative;
    transition: 0.3s all;
    &:hover {
      transform: scale(1.02);
    }
    .contact-nft-2 {
      position: absolute;
      left: 354px;
      top: 111px;
    }
  }
}

.contacts-right-side {
  display: flex;
  flex-direction: column;
  position: relative;
  h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    color: #fffffd;
    padding-bottom: 20px;
    font-family: "jostbold";
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #fffffd;
    padding-bottom: 40px;
    font-family: $mainfont;
  }
}

.contact-form {
  display: flex;
  align-items: center;
  .contact-input {
    border-radius: 8px;
    padding: 16px 24px;
    width: 516px;
    height: 60px;
    background: #131e3a;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: rgba(255, 255, 253, 0.72);
    border: 1px solid #131e3a;
    font-family: $mainfont;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
    border-radius: 8px;
    width: 160px;
    height: 52px;
    background: $maincolor;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: #fff;
    font-family: $mainfont;
    transition: 0.3s all ease;
    &:hover {
      color: #1e1e1e;
      transform: scale(1.02);
      font-family: "jostbold";
      font-size: 15px;
      opacity: 0.9;
    }
  }
}
/*/FOOTER/*/

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #838382;
  padding: 0px 0px 48px 0px;
  width: 100%;
  height: 224px;
  margin-bottom: 48px;
  margin-left: 18.5px;
  margin-right: 18.5px;
}
.footer-left-side {
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #fffffd;
    font-family: $mainfont;
    margin-bottom: 24px;
  }
}
.social-media {
  ul {
    display: flex;
    gap: 12px;
    list-style: none;
    li {
      a {
        display: block;
        width: 24px;
        height: 24px;
        background-size: cover;
        transition: background-image 0.4s;
        transition: 0.2s all;
        &:hover {
          transform: scale(1.1);
        }
        &.facebook {
          background-image: url("../images/facebook.svg");
          &:hover {
            background-image: url("../images/facebook-hover.svg");
          }
        }
        &.telegram {
          background-image: url("../images/telegram.svg");
          &:hover {
            background-image: url("../images/telegram-hover.svg");
          }
        }
        &.twitter {
          background-image: url("../images/twitter.svg");
          &:hover {
            background-image: url("../images/twitter-hover.svg");
          }
        }
        &.in {
          background-image: url("../images/in.svg");
          &:hover {
            background-image: url("../images/in-hover.svg");
          }
        }
      }
    }
  }
}
.footer-right-side {
  display: flex;
  justify-content: space-between;
  gap: 94px;
}

.footer-right-side-nav {
  ul {
    list-style: none;
    li {
      &:first-child {
        padding-bottom: 24px;
        font-family: "jostbold";
      }
      padding-bottom: 8px;
      a {
        display: inline-block;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: #fffffd;
        text-decoration: none;
        transition: 0.2s all ease;
        font-family: $mainfont;
        &:hover {
          color: $maincolor;
          transform: scale(1.03);
        }
      }
    }
  }
}

.title-nav {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding-bottom: 24px;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 92px;
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #fffffd;
    font-family: $mainfont;
  }
}

.footer-bottom-right {
  display: inline-flex;
  gap: 28px;
}

.main-nav {
  ul {
    display: flex;
    gap: 24px;
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: #fff;
        font-weight: 500;
      }
    }
  }
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;

  span {
    width: 25px;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: 0.3s ease;
  }
}

/*/PRELOADER/*/
.preloader {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: #1dad6a;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hidePreloader 4s forwards;
}

@keyframes hidePreloader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.loader {
  width: fit-content;
  font-size: 60px;
  font-family: monospace;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: conic-gradient(#000 0 0) 0/1ch 100% no-repeat text;
  animation: l14 2s steps(7, jump-none) infinite alternate;
}
.loader:before {
  content: "Welcome to NFT-Marketplace";
}

@keyframes l14 {
  to {
    background-position: 100%;
  }
}
