@font-face {
  font-family: "jostregular";
  src: url("../fonts/jost-webfont.eot");
  src: url("../fonts/jost-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/jost-webfont.woff2") format("woff2"), url("../fonts/jost-webfont.woff") format("woff"), url("../fonts/jost-webfont.ttf") format("truetype"), url("../fonts/jost-webfont.svg#jostregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "jostbold";
  src: url("../fonts/jost-bold-webfont.eot");
  src: url("../fonts/jost-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/jost-bold-webfont.woff2") format("woff2"), url("../fonts/jost-bold-webfont.woff") format("woff"), url("../fonts/jost-bold-webfont.ttf") format("truetype"), url("../fonts/jost-bold-webfont.svg#jostbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

body {
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/*/ HEADER /*/
.container-header {
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: inline-flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}
header nav ul li a {
  font-family: "jostregular";
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 253, 0.72);
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #d6ef0e;
  transition: width 0.1s;
}
header nav ul li a:hover {
  color: #ffffff;
}
header nav ul li a:hover::after {
  width: 100%;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  border-radius: 8px;
  width: 143px;
  height: 48px;
  background: #d6ef0e;
  text-decoration: none;
  font-family: "jostregular";
  transition: all 0.3s ease;
}
.contact:hover {
  color: #1e1e1e;
  transform: scale(1.02);
  font-family: "jostbold";
  font-size: 15px;
  opacity: 0.9;
}

/*/ SECTION 1 /*/
.hero-section {
  margin-top: 92px;
  margin-bottom: 92px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side-hero h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  color: #ffffff;
  padding-bottom: 20px;
  font-family: "jostbold";
}
.left-side-hero p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  padding-bottom: 40px;
  font-family: "jostregular";
}

.left-side-nav {
  padding-bottom: 72px;
  display: flex;
  gap: 20px;
}
.left-side-nav .btn {
  font-family: "jostregular";
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  text-decoration: none;
  border-radius: 8px;
  padding: 12px 40px;
  width: 178px;
  height: 52px;
  transition: 0.5s all;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.left-side-nav .btn-primary {
  background: #d6ef0e;
  color: #1e1e1e;
}
.left-side-nav .btn-primary:not(.active) {
  background: transparent;
  color: #ffffff;
  transform: scale(1.02);
}
.left-side-nav .btn-secondary {
  background: transparent;
  color: #ffffff;
  font-family: "jostregular";
}
.left-side-nav .btn-secondary.active {
  background: #d6ef0e;
  color: #1e1e1e;
  transform: scale(1.02);
}

.text-color {
  color: #d6ef0e;
}

.left-side-bottom {
  display: inline-flex;
  gap: 94px;
  position: relative;
  margin-bottom: 8px;
}
.left-side-bottom::after {
  content: "";
  position: absolute;
  left: 116px;
  top: 46px;
  width: 76px;
  height: 1px;
  background: #d6ef0e;
  transform: rotate(90deg);
}
.left-side-bottom::before {
  content: "";
  position: absolute;
  left: 300px;
  top: 46px;
  width: 76px;
  height: 1px;
  background: #d6ef0e;
  transform: rotate(90deg);
}
.left-side-bottom p {
  padding-bottom: 0px;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
}

.left-side-bottom-text {
  display: inline-flex;
  gap: 137px;
}
.left-side-bottom-text p {
  color: #ffffff;
  font-family: "jostregular";
}

.right-side-hero {
  position: relative;
}
.right-side-hero img {
  transition: 0.3s all;
}
.right-side-hero img:hover {
  transform: scale(1.02);
}
.right-side-hero .art {
  position: absolute;
  z-index: 1;
  left: -60px;
  top: 223px;
}

.bid-info {
  border-top: 1px solid #d6ef0e;
  border-radius: 16px;
  padding: 20px;
  width: 304px;
  height: 169px;
  box-shadow: 0 9px 50px 0 rgba(23, 36, 65, 0.04);
  background: #131e3a;
  gap: 10px;
  position: relative;
  z-index: 1;
  left: 210px;
  bottom: 86px;
  transition: 0.3s all;
}
.bid-info:hover {
  transform: scale(1.02);
}
.bid-info span {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #d6ef0e;
  font-family: "jostregular";
}
.bid-info .time {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  font-family: "jostregular";
}
.bid-info p {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  font-family: "jostregular";
}
.bid-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d6ef0e;
  border-radius: 8px;
  padding: 12px 40px;
  width: 100%;
  height: 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #d6ef0e;
  background: #131e3a;
  text-decoration: none;
  font-family: "jostregular";
}
.bid-info .bid-info-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

/*/SECTION2/*/
.art-of-week-section {
  margin-bottom: 184px;
}

.art-of-week-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 64px;
}
.art-of-week-top h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #fffffd;
  font-family: "jostbold";
}

.art-of-week-bottom {
  display: flex;
  justify-content: space-between;
}

.art-cards {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #d6ef0e;
  border-radius: 28px;
  padding: 20px;
  background: #131e3a;
  transition: 0.3s all;
}
.art-cards:hover {
  transform: scale(1.02);
}
.art-cards img {
  margin-bottom: 24px;
}

.art-cards-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.art-cards-name p {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  position: relative;
  font-family: "jostregular";
}
.art-cards-name p:nth-of-type(2) {
  font-size: 16px;
  gap: 8px;
}
.art-cards-name p:nth-of-type(2)::before {
  content: "";
  position: absolute;
  left: -20px;
  width: 20px;
  height: 20px;
  background-image: url("../images/eth.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.art-cards-bid {
  display: flex;
  justify-content: space-between;
}

.art-cards-bid-left p {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #838382;
  font-family: "jostregular";
}
.art-cards-bid-left .time2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  font-family: "jostregular";
  position: relative;
  margin-left: 30px;
}
.art-cards-bid-left .time2::before {
  content: "";
  position: absolute;
  left: -28px;
  width: 20px;
  height: 20px;
  background-image: url("../images/clock.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.art-cards-bid-right a {
  display: flex;
  border: 1px solid #d6ef0e;
  border-radius: 8px;
  padding: 12px 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #d6ef0e;
  background: #131e3a;
  font-family: "jostregular";
  text-decoration: none;
}

/*/SECTION3/*/
.sell-nft-section {
  margin-bottom: 184px;
}

.sell-nft-text {
  display: flex;
  flex-direction: column;
  margin-top: 114px;
  margin-bottom: 94px;
}
.sell-nft-text h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #fffffd;
  padding-bottom: 20px;
  font-family: "jostbold";
}
.sell-nft-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fffffd;
  padding-bottom: 40px;
  font-family: "jostregular";
}

.sell-nft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nft-image-1 {
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.3s all;
}
.nft-image-1:hover {
  transform: scale(1.02);
}

.nft-image-2 {
  position: absolute;
  right: 323px;
  top: 161px;
  transition: 0.3s all;
}
.nft-image-2:hover {
  transform: scale(1.02);
}

/*/SECTION4/*/
.popular-artists-section {
  margin-bottom: 184px;
}

.popular-artists-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 64px;
  padding-left: 31px;
  padding-right: 31px;
}
.popular-artists-top h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #fffffd;
  font-family: "jostbold";
}

.popular-artists-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}
.popular-artists-bottom a {
  transition: 0.3s all;
}
.popular-artists-bottom a:hover {
  transform: scale(1.02);
}
.popular-artists-bottom .top-art-1 {
  position: absolute;
  top: 345px;
}
.popular-artists-bottom .top-art-2 {
  position: absolute;
  top: 345px;
  left: 439px;
}

/*/SECTION5/*/
.contacts-section {
  margin-bottom: 184px;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts .contacts-left-side {
  position: relative;
  transition: 0.3s all;
}
.contacts .contacts-left-side:hover {
  transform: scale(1.02);
}
.contacts .contacts-left-side .contact-nft-2 {
  position: absolute;
  left: 354px;
  top: 111px;
}

.contacts-right-side {
  display: flex;
  flex-direction: column;
  position: relative;
}
.contacts-right-side h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  color: #fffffd;
  padding-bottom: 20px;
  font-family: "jostbold";
}
.contacts-right-side p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fffffd;
  padding-bottom: 40px;
  font-family: "jostregular";
}

.contact-form {
  display: flex;
  align-items: center;
}
.contact-form .contact-input {
  border-radius: 8px;
  padding: 16px 24px;
  width: 516px;
  height: 60px;
  background: #131e3a;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 253, 0.72);
  border: 1px solid #131e3a;
  font-family: "jostregular";
}
.contact-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  border-radius: 8px;
  width: 160px;
  height: 52px;
  background: #d6ef0e;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  font-family: "jostregular";
  transition: 0.3s all ease;
}
.contact-form button:hover {
  color: #1e1e1e;
  transform: scale(1.02);
  font-family: "jostbold";
  font-size: 15px;
  opacity: 0.9;
}

/*/FOOTER/*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #838382;
  padding: 0px 0px 48px 0px;
  width: 100%;
  height: 224px;
  margin-bottom: 48px;
  margin-left: 18.5px;
  margin-right: 18.5px;
}

.footer-left-side p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fffffd;
  font-family: "jostregular";
  margin-bottom: 24px;
}

.social-media ul {
  display: flex;
  gap: 12px;
  list-style: none;
}
.social-media ul li a {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;
  transition: background-image 0.4s;
  transition: 0.2s all;
}
.social-media ul li a:hover {
  transform: scale(1.1);
}
.social-media ul li a.facebook {
  background-image: url("../images/facebook.svg");
}
.social-media ul li a.facebook:hover {
  background-image: url("../images/facebook-hover.svg");
}
.social-media ul li a.telegram {
  background-image: url("../images/telegram.svg");
}
.social-media ul li a.telegram:hover {
  background-image: url("../images/telegram-hover.svg");
}
.social-media ul li a.twitter {
  background-image: url("../images/twitter.svg");
}
.social-media ul li a.twitter:hover {
  background-image: url("../images/twitter-hover.svg");
}
.social-media ul li a.in {
  background-image: url("../images/in.svg");
}
.social-media ul li a.in:hover {
  background-image: url("../images/in-hover.svg");
}

.footer-right-side {
  display: flex;
  justify-content: space-between;
  gap: 94px;
}

.footer-right-side-nav ul {
  list-style: none;
}
.footer-right-side-nav ul li {
  padding-bottom: 8px;
}
.footer-right-side-nav ul li:first-child {
  padding-bottom: 24px;
  font-family: "jostbold";
}
.footer-right-side-nav ul li a {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #fffffd;
  text-decoration: none;
  transition: 0.2s all ease;
  font-family: "jostregular";
}
.footer-right-side-nav ul li a:hover {
  color: #d6ef0e;
  transform: scale(1.03);
}

.title-nav {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  padding-bottom: 24px;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 92px;
}
.footer-bottom p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #fffffd;
  font-family: "jostregular";
}

.footer-bottom-right {
  display: inline-flex;
  gap: 28px;
}

.main-nav ul {
  display: flex;
  gap: 24px;
  list-style: none;
}
.main-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 3px;
  cursor: pointer;
}
.burger-menu span {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: 0.3s ease;
}/*# sourceMappingURL=style.css.map */